:root {
    --blue: #1890ff;
    --color-light-gray: #f5f5f5;
    --color-gray: #d9d9d9;
    --alert-color: #f5222d;
}

header {
    border-bottom: 0.1rem solid var(--color-light-gray);
}


.submit label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
    border: 0.1rem solid var(--color-gray);
    padding: 1.2rem;
}

.submit input[type="text"] {
    padding: 0.8rem;
    border: none;
}

.submit input[type="text"]:focus {
    outline: none;
}

.submit input[type="submit"] {
    padding: 1rem;
    border: none;
    background-color: var(--blue);
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
}

.trash {
    transition: color 0.3s;
}

.trash:hover {
    color: var(--alert-color);
    cursor: pointer;
    transition: color 0.3s;
} 

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: 0.1rem solid var(--color-gray);
    border-radius: 3px;
    margin-top: 1rem;
}

.item i {
    font-size: 1.0rem;
    color: var(--color-gray);
}

.checkboxlabel {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.checkmark {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-gray);
}

input[type="checkbox"]:checked + .checkmark {
    background-color: var(--blue);
}

.checkmark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked + .checkmark::before {
    opacity: 1;
}

footer {
    display: grid;
    place-items: center;
    border-top: 0.1rem solid var(--color-light-gray);
}